<div fxLayout="column" fxLayoutAlign="space-between center" style="height: 100%">
<mat-toolbar color="primary">
    <h1>Login-App</h1>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar color="primary" style="height: 15vh;">
    <div fxLayout="column" fxLayoutAlign="space-around center" style="width: 90vw;">
        <h4>Made By: Balaji</h4>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top: 0.5em; width: 50%;">
            <div style="font-size: xx-large;">
                <i class="fab fa-angular"></i>
            </div>
            <div style="font-size: xx-large;">
                <i class="fab fa-github"></i>
            </div>
            <div style="font-size: xx-large;">
                <i class="fab fa-google"></i>
            </div>
        </div>
    </div>
</mat-toolbar>
</div>